@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }
body{
    margin: 0px; 
}
.title{
   margin: auto;
   width: 75%;
}
.logo{
   width: 240px;
}
.header{
   border-bottom: solid 1px #e9dfcf;
}
.products {
   position: relative;
   font-family: system-ui;
   font-size: 14px;
   margin-right: -18px;
   float: right;
   margin-top: 32px;
}
.products ul {
   display: flex;
   justify-content: space-between;
}
.products li {
   padding-left: 16px;
   padding-right: 16px;
   text-align: center;
   background-color: #fff;
}
.products li::after{
   content: "|";
   padding-left: 20px;
}
.products li:last-child::after{
   content: " "; 

}
.products ul  {
   display: flex;
   color: rgb(120 118 118);
}
.products ul  li{ 
   list-style-type: none;
   padding-right: 0px
}
.NavbarTop {
  background-color: #d7d5d6;
  width: 100%;
  border-top: double  white;
  border-bottom: double  white;
  overflow: hidden;
  font-family: system-ui;
  font-size: 15px;
  height: 42px;
}
.NavbarTop ul{
   display: flex;
   color: black;
   margin: auto;
   width: 75%;
   justify-content: space-between;
   align-items: center;
   padding-inline-start: 0px;
   height: 100%;
}
.NavbarTop ul li{
   list-style-type: none;
   display: flex;
   flex-grow: 1;
   align-items: center;
   justify-content: center;
   border-right: 1px solid white;
   height: 100%;
}
.NavbarTop ul li a{
   text-decoration: none;
   color:#524c47;
}
.NavbarTop ul li:first-child{
   padding-left: 0px;
}
.NavbarTop ul li:last-child{
   border-right: none;
}
.NavBarTop-l1{
   margin-left: -30px;
}
.search{
   padding-left: 45px;
}

.search button {
    border-radius: 5px;
}
#search-box {
    border-top: inset;
    border-bottom: none;
    border-right: none;
}

.navbar2 div span a{
   text-decoration: none;
   color: black;
   padding-right: 28px;
}
ul.a{
   color: darkgrey;
}
.header1-div1{
   font-family: sans-serif;
   font-size: 15px;
}
.header1-div1 ul li:first-child{
   list-style: none; 
}
.navbarSecond{
   margin: auto;
   width: 75%;
   display: flex;
}
.navbarSecond a{
   text-decoration: none;
   color: #3C4D79;
   word-spacing: 2px;
   padding: 10px;
   padding-top: 18px;
   font-family: sans-serif;
   font-size: 15px;
}
.header1{
   display: flex;
   padding-top: 4px;
}
.header1-div1 ul li a:hover  {
   text-decoration: underline;
}
.header1-div1 ul li{
   padding-right: 20px;
   height: 0px;
}
.Links a:hover{
   text-decoration: underline;
   cursor: pointer;
}
.header1-div1 ul{
   list-style-type: circle;
   display: flex;
   padding-left: 0px;
}
.header2{
   display: flex;
}
.header2 a:hover{
   text-decoration: underline;
}
.header2 a:first-child{
   margin-left: 560px;
   padding: 0px;
}
.header2 a img{
   position: inherit; 
   padding-top: 2px;
   height: 48px;
}
.BgImg{
   background-image: url('Mikasa/background.png');
}
.bodyImg{
   margin: auto;
   width: 75%;
}
.centerImg{
   background-color: white;
  display: flex;
   padding-bottom: 2px
}
figure{
   margin-inline: 8px;
   margin-block-end: 1px;
   margin-block-start: 7px
}
figure img{
   height: 590px;
}
.section  {
   background-color: #403e3f;
   color: white;
   float: right;
   width: 500px;
   height: 590px;
   margin-top: 7px;
   border-right: 7px solid white;
}
.sectionIn{
   margin: 10px;
   padding: 40px;
   border: 2px solid grey;
   padding-top: 8px;
   height: 520px;
   font-family: sans-serif;
}
.sectionIn p{
   color: #a6a4a1;
   font-size: 18px;
   line-height: 1.7;
   padding-left: 12px;
   word-spacing: 2px;   
}
.sectionIn ul{
   list-style-type: none;
   padding-inline-start: 0px;
   padding-top: 6px;
   padding-left: 0px;
   margin-block-end: 0px;
}
.sectionIn ul li{
   border-bottom: 1px solid #534e46;
   padding-top: 10px;
   padding-bottom: 4px;
   font-size: large;
   font-family: system-ui;
   padding-left: 16px;
}
.sectionIn ul li:last-child{
   border-bottom: none;
}
.sectionIn h2{
   font-weight: 100;
   font-size: 39px; 
   padding-top: 0px;
   padding-left: 6px;
   font-family: system-ui;
}
.sectionIn-link{
   margin-top: 22px;
   font-size: 13px;
   padding-left: 15px;
}
.sectionIn-link a{
   color: #a6a4a1;
}
.sectionIn li:last-child{
   border-bottom: none;
}
.box{
   margin: auto;
   background-color: #312e28;
   display: flex;
   border: 10px solid black;
   height: 230px;
   
}
.glass{
   display: flex;
   width: 100%;
   padding-bottom: 91px;
   border-right: 1px solid #5f5e5d ;
   align-items: center;
}
.box1-out{
   background-image: url('Mikasa/promo_glass.png');
   background-repeat: no-repeat;
   height: 187px;
   background-size: 370px;
   width: 33.33%;
   padding: 20px;
   font-weight: normal;
   color: grey;
   background-color: white;
   font-family: system-ui;
}
.glass-sub1 pre{
   margin-left: 220px
}
.box2-out{
   background-image: url('Mikasa/promo_plates.png');
   background-repeat: no-repeat;
   background-position: bottom;
   height: 187px;
   width: 33.33%;
   padding: 20px;
   font-weight: normal;
   color: grey;
   background-color: white;
   font-family: system-ui;
}

.plate {
    border-right: 1px solid #5f5e5d;
    padding-bottom: 91px;
}

.plate pre{
   margin-left: 210px
}
.album{
   background-image: url('Mikasa/promo_album.png');
   background-repeat: no-repeat;
   background-position: right;
   background-size: 272px;
   height: 187px;
   width: 33.33%;
   border-right: 1px solid #ebe1d1;
   padding: 20px;
   font-weight: normal;
   color: grey;
   background-color: white;
   font-family: system-ui;
}
.box p{
    text-align: left;
    font-size: 14px;
}

pre{
    font-family: system-ui;
    text-decoration: none;
    font-size: 14px;
    color: rgb(103, 103, 182);
 }

 pre a {
     text-decoration: none;
 }

.footer {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding-top: 0px;
    font-family: system-ui;
}

.footerLeft-top {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 61%;
    padding: 0px;
}

.footerLeft-top-li a {
    color: #9f9d9d;
    padding: auto;
}

.footerLeft-top-li:not(:last-child)::after {
    content: "|";
    color: #808080;
    margin-left: 12px;
}

.footerCenter {
    color: #938d8d;
    margin: auto;
}

.footerCenter a {
    color: #938d8d;
}

.footerCenter-para {
    color: #938d8d;
    margin-top: 8px;
}

.footerRight-sign-up {
    color: #938d8d;
}

.footerRight-email {
    color: #938d8d;
    margin-top: 12px;
}

.email-box {
    width: 298px;
    height: 26px;
    box-shadow: 1px 1px 3px #000000 inset;
    border-width: 0px;
    padding-left: 8px;
}

.btn-Sign-Up {
    width: 77px;
    height: 22px;
    border-width: 0;
    border-radius: 4px;
    margin-left: 6px;
}

.highLight {
    color: #2F2D29;
    font-size: 20px;
}
